body {
  transition: background 0.5s ease;
}

.container-fluid {
  position: relative;
  padding: 0;
}

.weather-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  /* يغطي الشاشة كلها */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* يملى الشاشة */
  z-index: 0;
}
.weather-bg::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgb(37 37 37 / 30%);
}
.content {
  position: relative;
  z-index: 2;
  /* عشان يبقى فوق الفيديو */
  color: white;
}

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.forecast-day , .current-card, .input-control {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: white;
  backdrop-filter: blur(25px);
}

.input-control:focus {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.input-control {
  border-right: none;
  border: linear-gradient(to right, white, none) 1px solid;
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -ms-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
}
.search {
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -ms-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
  /* border: linear-gradient(to right, white , none) 1px solid; */
  border-left: none;
}